@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --text-content-primary: #313235;
}
body {
  margin: 0;
  padding: 0;
  /* background-color: #e7d6bd; */
  color: var(--text-content-primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
